				
<div class="col-sm">
	<button type="button" class="btn btn-info btn-lg float-right" data-toggle="modal" data-target="#Add{{userType}}User">
		Add {{userType}} User
	</button>
</div>
<!-- Modal -->
<div class="modal fade" id="Add{{userType}}User" tabindex="-1" role="dialog" aria-labelledby="add{{userType}} UserModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add A {{userType}} User</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="firstName">First Name</label>
						<input type="text" class="form-control" id="firstName" placeholder="First Name">
					</div>
					<div class="form-group">
						<label for="lastName">Last Name</label>
						<input type="text" class="form-control" id="lastName" placeholder="Last Name">
					</div>
					<div class="form-group">
						<label for="inputEmail">Email</label>
						<input type="email" class="form-control" id="inputEmail" placeholder="Email">
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputPassword">Password</label>
							<input type="password" class="form-control" id="inputPassword" placeholder="Password">
						</div>
						<div class="form-group col-md-6">
							<label for="inputPassword">Confirm Password</label>
							<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
						</div>
					</div>
				</form>
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="passwordRequiermentHeading">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#passwordRequierment" aria-expanded="true" aria-controls="passwordRequierment">
								Password Requirements
							</button>
						</div>

						<div id="passwordRequierment" class="collapse" aria-labelledby="passwordRequiermentHeading" data-parent="#accordion">
							<div class="card-body">
								<ul>
									<li>At least 8 characters</li>
									<li>Lowercase Alphabet</li>
									<li>Uppercase Alphabet</li>
									<li>Number</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Create User</button>
				</div>
			</div>
	</div>
</div>