<thead>
	<tr>
		<th scope="col">Id</th>
		<th scope="col">First Name</th>
		<th scope="col">Last Name</th>
		<th scope="col">Registration Date</th>
		{{#if normalUser}}
		<th scope="col">Signature</th>
		{{/if}}
		<th scope="col">Action</th>
	</tr>
</thead>
<tbody>
	{{#if normalUser}}
	{{#each data}}
	<tr id="userRow_{{u_id}}">
		<td scope="col">{{u_id}}</th>
		<td scope="col">{{fname}} {{lname}}</th>
		<td scope="col">{{email}}</th>
		<td scope="col">{{creation_datetime}}</th>
		<td scope="col">{{signature}}</th>
		<td scope="col"><button type="button" class="btn btn-outline-warning  m-sm-1">Edit</button><button type="button" class="btn btn-outline-danger  m-sm-1">Delete</button></th>
	</tr>
	{{/each}}
	{{else}}
	{{#each data}}
	<tr id="userRow_{{u_id}}">
		<td scope="col">{{u_id}}</th>
		<td scope="col">{{fname}} {{lname}}</th>
		<td scope="col">{{email}}</th>
		<td scope="col">{{creation_datetime}}</th>
		<td scope="col"><button type="button" class="btn btn-outline-warning  m-sm-1">Edit</button><button type="button" class="btn btn-outline-danger  m-sm-1">Delete</button></th>
	</tr>
	{{/each}}
	{{/if}}
</tbody>