<div class="container-fluid">

    <!-- 1st row: User Name (Title) and Create Award button -->
    <div class="row">

        <div class="col-md-8 col-lg-8">
            <h1 class="ml-3 mt-3">{{session.fname}} {{session.lname}}</h1>
        </div>

        <div class="col-md-4 col-lg-4" align="center">
            <h1 class="mt-3">
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#createAwardModal">
                    Create a New Award
                </button>
            </h1>
        </div>
    </div>


    <!-- 2nd row: Tabs, Tab Content and About Me Card -->
    <div class="row">

        <!-- Left side: Tabs and tab Content -->
        <div class="col-md-9 col-lg-9">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link {{#if showProfileTab}}active{{/if}}" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                     aria-selected="true">
                        <h4>
                            <i class="fa fa-user"></i> Profile</h4>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#unless showProfileTab}}active{{/unless}}" id="awards-tab" data-toggle="tab" href="#awards" role="tab"
                     aria-controls="awards" aria-selected="false">
                        <h4>
                            <i class="fa fa-trophy"></i> Awards Management</h4>
                    </a>
                </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content" id="myTabContent">

                <!-- Profile Tab -->
                <div class="tab-pane fade {{#if showProfileTab}}show active{{/if}}" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="panel-body">

                        <table class="table table-borderless h5">
                            <tbody>
                                <tr>
                                    <th>Email:</th>
                                    <td>
                                        <a href="mailto:{{session.email}}">{{session.email}}</a>
                                    </td>
                                    <td>
                                        <a data-toggle="modal" href="#changeEmailModal">Change Email</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Full Name:</th>
                                    <td>{{session.fname}} {{session.lname}}</td>
                                    <td>
                                        <a data-toggle="modal" href="#editNameModal">Edit Name</a>
                                    </td>
                                </tr>

                                <tr>
                                    <th>User Type:</th>
                                    <td>Basic User</td>
                                </tr>
                                <tr>
                                    <th>Registration Timestamp:</th>
                                    <td>{{session.timestamp}}
                                        <br>(US Pacific Time)</td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#changePwdModal">
                                            Change Account Password
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>My Signature:</th>
                                    <td>{{{session.signature}}}</td>
                                    <td>
                                        <a data-toggle="modal" href="#updateSigModal">Update Signature</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

                <!-- Awards Management Tab -->
                <div class="tab-pane fade {{#unless showProfileTab}}show active{{/unless}}" id="awards" role="tabpanel" aria-labelledby="awards-tab">
                    <div class="container">
                        {{> _userAwardsTable}}
                    </div>
                </div>
            </div>
        </div>


        <!-- Right side: About Me Card -->
        <div class="col-md-3 col-lg-3 pt-5" align="center">
            <div class="card bg-info float-sm-right float-md-right" align="center">
                <div class="card-header lead">
                    <h4>
                        <i class="fa fa-bar-chart"></i>
                        About Me
                    </h4>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody class="h5">
                            <tr>
                                <th>
                                    <i class="fa fa-check-square-o"></i>
                                </th>
                                <td>{{session.elapsed_days}}</td>
                                <td>Days since registration</td>
                            </tr>
                            <tr>
                                <th>
                                    <i class="fa fa-check-square-o"></i>
                                </th>
                                <td>{{session.num_of_awards}}</td>
                                <td>Created Awards</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- In-text CSS -->
<style>
    body {
        padding-top: 60px;
    }

    .table-borderless>tbody>tr>td,
    .table-borderless>tbody>tr>th,
    .table-borderless>tfoot>tr>td,
    .table-borderless>tfoot>tr>th,
    .table-borderless>thead>tr>td,
    .table-borderless>thead>tr>th {
        border: none !important;
    }

    .nav-link {
        color: #8A0868;
    }
</style>




<!-- Edit Name Modal -->
<div class="modal fade" id="editNameModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Dialog Box Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="editNameModalLabel">Edit Full Name</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Form section -->
            <form name="editNameForm" id="editNameForm" accept-charset="UTF-8">

                <!-- Dialog Box Body -->
                <div class="modal-body">
                    <div class="alert alert-danger" id="editNameWarning" role="alert" style="display: none;">
                        Failed request. You may try again.
                    </div>
                    <div class="form-group">
                        <label for="editFirstName">Your First Name</label>
                        <input type="text" required="required" class="form-control" id="input_fname" name="input_fname" value="{{session.fname}}">
                    </div>
                    <div class="form-group">
                        <label for="editLastName">Your Last Name</label>
                        <input type="text" required="required" class="form-control" id="input_lname" name="input_lname" value="{{session.lname}}">
                    </div>
                </div>

                <!-- Dialog Box Footer - Buttons -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Change Email Modal -->
<div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Dialog Box Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="changeEmailModalLabel">Change Email</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Form section -->
            <form name="changeEmailForm" id="changeEmailForm" accept-charset="UTF-8">

                <!-- Dialog Box Body -->
                <div class="modal-body">
                    <div class="alert alert-danger" id="changeEmailWarning" role="alert" style="display: none;">

                    </div>
                    <div class="form-group">
                        <label for="changeEmail">Your Email Address</label>
                        <input type="email" required="required" class="form-control" id="input_email" name="input_email" value="{{session.email}}">
                    </div>

                </div>

                <!-- Dialog Box Footer - Buttons -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Change Password Modal -->
<div class="modal fade" id="changePwdModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Dialog Box Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="changePwdModalLabel">Change Account Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Form section -->
            <form name="changePwdForm" id="changePwdForm" accept-charset="UTF-8">

                <!-- Dialog Box Body -->
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Passwords must be at least 8 characters long and must contain the following:
                            <ul>
                                <li>At least one Lowercase Alphabet</li>
                                <li>At least one Uppercase Alphabet</li>
                                <li>At least one Number</li>
                            </ul>
                        </div>
                    </div>

                    <div class="alert alert-success" id="pwdChangeSuccess" role="alert" style="display: none;">
                        You have successfully changed your password!
                    </div>
                    <div class="alert alert-danger" id="changePwdWarning" role="alert" style="display: none;"></div>
                    <div class="form-group">
                        <label for="changePwd">Your New Password</label>
                        <div class="alert alert-warning" id="pwdRequirementsWarning" role="alert" style="display: none;"></div>
                        <!-- password input field: "required" not needed here, controlled by jQuery scripts -->
                        <input type="password" class="form-control" id="input_pwd" name="input_pwd">
                    </div>
                    <div class="form-group">
                        <label for="verifyPwd">Re-enter the New Password
                            <span id='pwdMatchMsg'></span>
                        </label>
                        <!-- password input field: "required" not needed here, controlled by jQuery scripts -->
                        <input type="password" class="form-control" id="input_pwd_verify" name="input_pwd_verify">
                    </div>

                </div>

                <!-- Dialog Box Footer - Buttons -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" disabled id="pwdChangeSubmitBtn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Update Signature Modal -->
<div class="modal fade" id="updateSigModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:700px;">
        <div class="modal-content">

            <!-- Dialog Box Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="updateSigModalLabel">Update Signature</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Form section -->
            <form name="updateSigForm" id="updateSigForm">

                <!-- Dialog Box Body -->
                <div class="modal-body">
                    <div class="alert alert-danger" id="updateSigWarning" role="alert" style="display: none;">

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12" align="center">
                                <label for="updateSig">Your New Signature</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" align="center">
                                <canvas id="update_sig_pad" style="border:black 1px solid;">
                                </canvas>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" align="center">
                                <button type="button" class="btn btn-info" id="undo_sig">Undo</button>
                                <button type="button" class="btn btn-info" id="clear_sig">Clear</button>
                            </div>
                        </div>

                    </div>

                    <!-- Dialog Box Footer - Buttons -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
            </form>
        </div>
    </div>
</div>

{{> _createAwardModal}}
{{> _deleteUserAwardModal}}