<script>
	$("main[role='main']").attr('class', 'container-fluid px-4 py-5');
</script>

<div class="container-fluid">

	<!-- User Name (Title) and Create Award button -->
	<div class="row">
		<div class="col">
			<h1 class="m-3">{{session.fname}} {{session.lname}}
				<button type="button" class="btn btn-success btn-lg float-right" data-toggle="modal" data-target="#CreateAward">
					Create a New Award
				</button>
			</h1>
			
		</div>

	</div>

	<!-- Below title -->
	<div class="row">
		<!-- Tabs -->
    	<div class="col-md-8 col-lg-8">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link {{#if showProfileTab}}active{{/if}}" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
						aria-controls="profile" aria-selected="true"><h4><i class="fa fa-user"></i> Profile</h4></a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{#unless showProfileTab}}active{{/unless}}" id="awards-tab" data-toggle="tab" href="#awards" role="tab"
						aria-controls="awards" aria-selected="false"><h4><i class="fa fa-trophy"></i> Awards Management</h4></a>
				</li>
			</ul>

			<!-- Tab Content -->
			<div class="tab-content" id="myTabContent">

				<!-- Profile Tab -->
				<div class="tab-pane fade {{#if showProfileTab}}show active{{/if}}" id="profile" role="tabpanel" aria-labelledby="profile-tab">

					<div class="panel-body">
            		
                  				<table class="table table-borderless h5">
                    				<tbody>
                      					<tr>
                        					<th>Email:</th>
                        					<td><a href="mailto:{{session.email}}">{{session.email}}</a></td>
											<td><a data-toggle="modal" href="#changeEmailModal">Change Email</a></td>
                      					</tr>
                      					<tr>
                        					<th>Full Name:</th>
                        					<td>{{session.fname}} {{session.lname}}</td>
											<td><a data-toggle="modal" href="#editNameModal">Edit Name</a></td>
                      					</tr>
                      
                      					<tr>
                        					<th>User Type:</th>
                        					<td>Normal User</td>
                      					</tr>
										<tr>
                        					<th>Registration Timestamp:</th>
                        					<td>{{session.timestamp}}<br>(US Pacific Time)
                        					</td>
                      					</tr>
										<tr>
											<td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#changePwdModal">
												Change Account Password
											</button></td>
										</tr>
										<tr>
											<th>My Signature:</th>
											<td>{{{session.signature}}}</td>
											<td><a data-toggle="modal" href="#updateSigModal">Update Signature</a></td>
										</tr>
                    				</tbody>
                  				</table>

            		</div>

				</div>

				<!-- Awards Management Tab -->
				<div class="tab-pane fade {{#unless showProfileTab}}show active{{/unless}}" id="awards" role="tabpanel" aria-labelledby="awards-tab">

				</div>
			</div>

    	</div>

		<!-- Right side: About Me Card -->
		<div class="col-md-4 col-lg-4 pt-5" align="center">
			<div class="card bg-info float-right" align="center">
  				<div class="card-header lead">
					<h4><i class="fa fa-bar-chart"></i>
						About Me
					</h4>
				</div>
  				<div class="card-body">
					<table class="table table-borderless">
                    	<tbody class="h5">
                      		<tr>
                        		<th><i class="fa fa-check-square-o"></i></th>
								<td>{{session.elapsed_days}}</td>
                        		<td>Days since registration</td>
                      		</tr>
                      		<tr>
                        		<th><i class="fa fa-check-square-o"></i></th>
								<td>{{session.num_of_awards}}</td>
                        		<td>Created Awards</td>
           					</tr>
                    	</tbody>
                  	</table>
					
				</div> 
			</div>
		</div>
	</div>

	
	
</div>

<!-- In-text CSS -->
<style>
	body {
    	padding-top: 60px;
  	}
	
	.table-borderless > tbody > tr > td,
	.table-borderless > tbody > tr > th,
	.table-borderless > tfoot > tr > td,
	.table-borderless > tfoot > tr > th,
	.table-borderless > thead > tr > td,
	.table-borderless > thead > tr > th {
    	border: none !important;
	}

	.nav-link {
    	color: #8A0868;
	}
</style>




<!-- Edit Name Modal -->
<div class="modal fade" id="editNameModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

			<!-- Dialog Box Header -->
			<div class="modal-header">
				<h4 class="modal-title" id="editNameModalLabel">Edit Full Name</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!-- Form section -->
			<form name="editNameForm" id="editNameForm" accept-charset="UTF-8" >

				<!-- Dialog Box Body -->
				<div class="modal-body">
					<div class="alert alert-danger" id="editNameWarning" role="alert" style="display: none;">
						Failed request. You may try again.
					</div>
					<div class="form-group">
						<label for="editFirstName">Your First Name</label>
						<input type="text" required="required" class="form-control" id="input_fname" name="input_fname"
							value="{{session.fname}}">
					</div>
					<div class="form-group">
						<label for="editLastName">Your Last Name</label>
						<input type="text" required="required" class="form-control" id="input_lname" name="input_lname"
							value="{{session.lname}}">
					</div>
				</div>

				<!-- Dialog Box Footer - Buttons -->
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Scripts for Edit Name form -->
<script>

	function hard_reload() {
		//window.location.href = '/users';
		window.location.reload(true);
	}

	window.addEventListener('load', function (e) {
		

		// editName Listener
		var editNameForm = document.getElementById("editNameForm");
		editNameForm.addEventListener("submit", function (event) {
		
			event.preventDefault();
			document.getElementById("editNameWarning").style.display = "none";
			console.log('editNameForm submitted');

			/*
			var editNameFD = new FormData(editNameForm);

			var ConvertedJSON= {};
    		for (const [key, value]  of editNameFD.entries())
    		{
        		ConvertedJSON[key] = value;
    		}
			console.log(ConvertedJSON);
			*/
			editNameJson = {};
			editNameJson["input_fname"] = document.getElementById("input_fname").value;
			editNameJson["input_lname"] = document.getElementById("input_lname").value;
			//console.log(editNameJson);

			fetch('/users/editName', {
				method: 'PATCH',
				credentials: 'same-origin',
				redirect: 'error',
				headers: {
					'content-type': 'application/json;charset=UTF-8'
    			},
  				body: JSON.stringify(editNameJson)
			})
			.then((response) => {
				//alert('response!');
				//console.log("response = " + response);

				if(response.ok && response.status == 200) {
					console.log("response 200 ok");
					hard_reload();
				}
				else {
					console.error('Error: ', response.status + ' ' + response.statusText);
					$("#editNameWarning").fadeIn(300);
				}
			} )
			.catch((error) => {
				console.error('Error: ', error);
				$("#editNameWarning").fadeIn(300);
			});


		});

		$('#editNameModal').on('show.bs.modal', function (e) {
			document.getElementById("editNameWarning").style.display = "none";
		})
		
	});

</script>