<div>
	<h1 class="m-3">{{session.fname}} {{session.lname}}</h1>
	<button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#CreateAward">
		Create a New Award
	</button>
</div>

<div class="container">

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link {{#if showProfileTab}}active{{/if}}" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
				aria-controls="profile" aria-selected="true"><h4><i class="fa fa-user"></i> Profile</h4></a>
		</li>
		<li class="nav-item">
			<a class="nav-link {{#unless showProfileTab}}active{{/unless}}" id="awards-tab" data-toggle="tab" href="#awards" role="tab"
				aria-controls="awards" aria-selected="false"><h4><i class="fa fa-trophy"></i> Awards Management</h4></a>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade {{#if showProfileTab}}show active{{/if}}" id="profile" role="tabpanel" aria-labelledby="profile-tab">

			<div class="panel-body">
            	<div class="row">
                
                	<div class=" col-md-9 col-lg-9 "> 
                  		<table class="table table-user-information">
                    		<tbody>
                      			<tr>
                        			<td>Email:</td>
                        			<td><a href="mailto:{{session.email}}">{{session.email}}</a></td>
									<td><a data-toggle="modal" href="#changeEmailModal">Change</a></td>
                      			</tr>
                      			<tr>
                        			<td>Full Name:</td>
                        			<td>{{session.fname}} {{session.lname}}</td>
									<td><a data-toggle="modal" href="#editNameModal">Edit</a></td>
                      			</tr>
                      
                      			<tr>
                        			<td>User Type:</td>
                        			<td>Normal User</td>
                      			</tr>
								<tr>
                        			<td>Registration Timestamp:</td>
                        			<td>{{session.timestamp}}  (US Pacific Time)
                        			</td>
                      			</tr>
                     
                    		</tbody>
                  		</table>

                	</div>
              	</div>
            </div>

		</div>
		<div class="tab-pane fade {{#unless showProfileTab}}show active{{/unless}}" id="awards" role="tabpanel" aria-labelledby="awards-tab">

		</div>
	</div>
</div>